.store-btn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-5%, -50%);
}

.pokemon {
    div {
        margin: 2em 0;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align: left;

        > * {
            width: 50%;
        }
    }

    .evolves {
        .lists {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}
