.progress {
    position: relative;
    margin: 1em 0;
    
    .title {
        position: absolute;
        background-color: #fff;
        padding: 0 .5em;
        left: 50%;
        transform: translate(-50%, -70%);
    }

    .percent {
        position: absolute;
        left: 0;
        padding: 0 1em;
        top: 50%;
        transform: translate(0, -50%);
    }
}